@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
	background-color: #181818
}

body {
	font-family: Open Sans, Arial;
	color: #e4e4ef;
	font-size: 16px;
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	line-height: 1.4;
	text-align: justify
}

a {
	color: #5f627f
}

a:visited {
	color: #9e95c7
}

h1#dragons {
    color: #ff4f58
}

h2 {
    margin-bottom: 10px
}

section {
    margin-top: 30px;
}

hr.header {
    border-color: #96a6c8
}

hr.features {
    border-color: #e8e8e8
}

hr.usage {
    border-color: #f43841
}

hr.getting-started {
    border-color: #ac5a82
}

hr.contributing {
    border-color: #5da52b
}

@media only screen and (min-width: 768px) {
    div.features {
        column-count: 2;
        column-gap: 40px;
    }

    div.feature {
        break-inside: avoid
    }
}

div.feature {
    padding-bottom: 15px;
}

span {
    font-weight: bold
}

#stable {
    color: #ff4f58
}

#templates {
    color: #73c936
}

#contexts {
    color: #ffdd33
}

#organisation {
    color: #1fad83
}

#kubectl {
    color: #07a
}

#pass {
    color: #9e9e9e
}

span.code,div.code {
    font-weight: normal;
    font-family: monospace;
}

div.code {
    overflow-x: auto
}

a#kontemplate {
    font-weight: bold;
    color: #e4e4ef;
}
