@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
}
html {
	background-color: #181818
}
body {
	font-family: Open Sans, Arial;
	color: #e4e4ef;
	font-size: 16px;
	margin: 2em auto;
	max-width: 820px;
	padding: 1em;
	line-height: 1.4;
	text-align: justify
}
a {
	color: #5f627f
}
a:visited {
	color: #9e95c7
}

hr.header {
    border-color: #96a6c8
}

hr.features {
    border-color: #ac5a82    
}
